@font-face
{
	font-family: "Futura";
	src: url("./FuturaBT-Book.woff") format("woff");
}

*
{
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

html
{
	margin: 0;
	padding: 0;
	height: 100%;
}

body
{
	margin: 0;
	position: relative;
	min-height: 100%;
	overflow-x: hidden;
	font-family: Futura;
}

a
{
	text-decoration: none;
	color: inherit;
}

ul
{
	list-style: none;
	margin: 0;
	padding: 0;
}

.pointer
{
	cursor: pointer;
}

.helper
{
	cursor: help;
}

.tohide
{
	display: none;
}

.toshow
{
	display: inherit;
}

.margincenter
{
	margin: 0 auto;
}

.marginleft
{
	margin-right: auto;
	margin-left: 0;
}

.marginright
{
	margin-left: auto;
	margin-right: 0;
}

.textcenter
{
	text-align: center;
}

.textleft
{
	text-align: left;
}

.textright
{
	text-align: right;
}

.fitContent
{
	width: fit-content;
}

.block
{
	display: block;
}

.flex
{
	display: flex;
}

.inline
{
	display: inline-block;
}

.brand--color--light-grey
{
	color: #B7B7B7;
}

.brand--color--grey
{
	color: #545553;
}

.brand--color--red
{
	color: #D4394E;
}

.brand--background-color--light-grey
{
	color: #B7B7B7;
}

.brand--background-color--grey
{
	background-color: #545553;
}

.brand--background-color--red
{
	background-color: #D4394E;
}













h1.title
{
	width: 304px;
	text-transform: uppercase;
	font-size: 50px;
	margin-top: 50px;
	position: relative;
}

h1.title:before
{
	content: "";
	display: block;
	position: absolute;
	height : 0;
	width : 0;
	border-top : 15px solid transparent;
	border-bottom : 15px solid transparent;
	border-left : 26px solid #D4394E;
	top: 50%;
	left: -50px;
	transform: translateY(-50%);
}

h1.title:after
{
	content: "";
	display: block;
	position: absolute;
	height : 0;
	width : 0;
	border-top : 15px solid transparent;
	border-right : 26px solid #D4394E;
	border-bottom : 15px solid transparent;
	top: 50%;
	right: -50px;
	transform: translateY(-50%);
}

div.container
{
	width: 95%;
	max-width: 680px;
	margin-top: 100px;
	flex-flow: row wrap;
}

h2.month
{
	text-transform: uppercase;
	font-size: 40px;
}

div#calendar
{
	flex-flow: row wrap;
	justify-content: space-evenly;
}

div#calendar>table
{
	font-weight: bold;
	width: 300px;
	margin-bottom: 10px;
}

div#calendar>table>tbody>tr>td
{
	width: 40px;
	height: 40px;
	line-height: 40px;
	text-align: center;
}

div#calendar>table>tbody>tr>td.event
{
	border-radius: 50%;
	background-color: rgba(212, 57, 78, 0.2);
}

div#calendar>table>tbody>tr>td.active
{
	position: relative;
}

div#calendar>table>tbody>tr>td.active:before
{
	content: "";
	display: block;
	position: absolute;
	height : 7px;
	width : 7px;
	background-color: #D4394E;
	border-radius: 50%;
	bottom: 5px;
	left: 50%;
	transform: translateX(-50%);
}

div#calendar>div.eventSchedule
{
	border-radius: 25px;
	border: 1px solid #9c9d9b;
	padding: 10px;
	width: 300px;
	word-break: break-word;
	margin-bottom: 26px;
}

div#calendar>div.eventSchedule>span.day
{
	display: block;
	color: #D4394E;
	font-weight: 900;
	font-size: 60px;
}

div#calendar>div.eventSchedule>span.hour
{
	margin-top: 10px;
	display: block;
	font-size: 20px;
}

div#calendar>div.eventSchedule>span.title
{
	display: block;
	color: #D4394E;
	margin-top: 25px;
	font-size: 20px;
}

div#calendar>div.eventSchedule>p.desc
{
	display: block;
	margin-top: 15px;
	font-weight: 100;
	font-size: 15px;
}